@charset "utf-8";
.my-class {

	color:#67A7E3;
	background-color: #7BCED6;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}
.my-container {
	background:#75A4AB;
	border: 1pt solid #291B87;
	text-align: center;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
	margin-right: 195px;
	margin-left: 195px;
	
}
#my-id {
	color: blue;
	background-color: #B4B4F1;
	border: 5pt dashed #5D6196;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}
